@page {
    /* A4縦向き */
    width: 210mm; 
    height: 297mm;
    margin: 0mm;
}
body {
    /* A4縦向き */
    width: 210mm; 
    height: 297mm;
    margin: 0;
    padding: 10mm;
    font-family: Arial, sans-serif;
}
.grid-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 18fr 1fr 1fr;
    gap: 5px;
}
#gridLeft {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#gridRight {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#gridAnswer {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}

.left-section {
    width: 100%; /* 左の表エリア */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.table {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* 左寄せ */
    height: 48%; /* 表の高さを48%に */
    margin-bottom: 1%;
    border-collapse: collapse; /* セル間をくっつける */
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch; /* 列全体の幅を均等にする */
    width: 14%; /* 各列の幅 (7列) */
}
.cell {
    writing-mode: vertical-rl; /* 縦書きモード */
    font-size: 17px;
    border: 1px solid black;
    flex: 2; /* 高さの比率を2:1に設定 */
    display: flex;
    align-items: center; /* テキストを左右の中央に揃える */
    padding: 5px; /* 上部に余白を追加 */
    box-sizing: border-box; /* 幅計算を正確にする */
    width: 100%;
    margin: 0;
}
.empty-cell {
    border: 1px solid black;
    font-size: 10px;
    flex: 1; /* 高さの比率を2:1に設定 */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box; /* 幅計算を正確にする */
    width: 100%;
    padding: 0;
    margin: 0;
}
.highlight {
    border-right: 2px solid black;
}
.right-section {
    width: 100%; /* 右の表エリア */
    height: 30%; /* 高さを全体の30%に */
    display: flex;
    flex-direction: column;
    align-self: flex-start; /* 右寄せ */
}
.right-row {
    flex: 4;
    border: 1px solid black; /* 枠線 */
    display: flex;
    box-sizing: border-box; /* 幅計算を正確にする */
    margin: 0; /* セル間の隙間をなくす */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

